@{
    Layout = null;
}
@model List<IService.Models.CategoryModel>

@foreach (IService.Models.CategoryModel category in Model)
{
    <p class="category">

        @Html.ActionLink(@category.Name, "Index", new
   {
       page = 1,
       category = @category.Name,
       tag = string.Empty
   }, new { hidefocus = "hidefocus" })
    </p>
}