@model test.Models.Posts
@{
    Layout = null;
}
<div class="control-post">
    <div>
        @using (Html.BeginForm(null, "search/page1",  new { page = 1, q = Model.q }, FormMethod.Get, new { @class = "form-actions no-color" }))
        {
            <div class="form-actions no-color">
                <p>
                    Поиск по названию поста<br />
                    <input type="text" class="search" name="q" value="@Model.q" />
                    <input type="submit" value="Поиск" class="btn btn-default" /> |
                    @Html.ActionLink(" Все посты", "/", new { page = 1 }, new { hidefocus = "hidefocus" })
                </p>
            </div>
        }
        <br />
        <h3>Категории</h3>
        @{Html.RenderAction("CategoryList", "Home");}
        <h3>Тэги</h3>
        @{Html.RenderAction("TagList", "Home");}
    </div>
</div>
