@{
    Layout = null;
}
@model List<IService.Models.TagModel>

@foreach (IService.Models.TagModel tag in Model)
{
    <span class="tag">
        @Html.ActionLink(@tag.Name, "Index", new
   {
       tagName = @tag.Name,
       searchField = ViewBag.search
   })
    </span>
}

