@{
    Layout = null;
}
@model List<IService.Models.TagModel>

@foreach (IService.Models.TagModel tag in Model)
{
    <span class="tag">
        @Html.ActionLink(@tag.Name, "Index", new
   {
       page = 1,
       tag = @tag.Name,
       category = ""
       //,
       //search = ViewBag.search
   })
    </span>
}

