@{
    Layout = null;
}
@model List<IService.Models.CategoryModel>

@foreach (IService.Models.CategoryModel category in Model)
{
    <p class="category">
        @Html.ActionLink(@category.Name, "Index", new
   {
       currentCategory = @category.Name,
       currentTag = ""
   })
    </p>
}