@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        @*<h2>@ViewBag.searchTheme</h2>*@
        <h2>Посты</h2>
        <div id="postlist">
            @{Html.RenderPartial("PostListPartial");}
        </div>
    </div>
    <div class="col-md-4">
        @{Html.RenderPartial("SideBarPartial");}
    </div>
</div>