
@{
    ViewBag.Title = "Категории";
    Layout = "~/Areas/Moderator/Views/Shared/_Layout.cshtml";
}

@{Html.RenderPartial("_CategoryList");}

@* всплывающее окошко *@
<div class="back-popup">
    <div class="popup" id="#popup">

    </div>
</div>