@model test.Models.LetterConfirmViewModel  
Уважаемый @Model.UserName<BR />Перейдя по следующей ссылке вы сможете закончить регистарцию:
<a href="@Model.UserActivationLink" title="User Reset Password">Подтверждение регистрации</a>

