@model test.Models.LetterResetPasswordViewModel
Уважаемый @Model.UserName<BR />Перейдя по следующей ссылке вы сможете сбросить свой текущий пароль и ввести новый:
<a href="@Model.UserActivationLink" title="User Reset Password">Сброс пароля</a>


